.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-wrapper {
    display: flex;
    align-items: center;
    gap: 6px;
}
.brand-wrapper .brand-logo {
    width: 32px;
    height: 32px;
    border-radius: 12px;
    background-color: #343434;
}

.title {
   margin-bottom: 4px;
    
}
.lead {
    font-size: 8px;
    font-weight: 300;
}