.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-wrapper {
    display: flex;
    align-items: center;
    gap: 0.375rem;
}
.brand-wrapper .brand-logo {
    width: 2rem;
    height: 2rem;
    border-radius: 0.75rem;
    background-color: #343434;
}

.title {
   margin-bottom: 0.25rem;
}
.lead {
    font-size: 0.375rem;
    font-weight: 300;
}