@reference "../../../index.css";

.color-shower {
  @apply grid place-content-center w-[4.8125rem] h-[4.8125rem] rounded-full bg-[#63717B];
  @apply border border-[#63717B];
}

@keyframes scaleInBounce {
  0% {
    transform: scale(0.4);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(2);
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
}

.color-shower-question {
  @apply min-w-12 min-h-12;
  animation: scaleInBounce 0.6s ease-out forwards, float 2s ease-in-out 0.6s infinite;
}
